<div class="container">

<h1>User Details:</h1>
<h1>Username: {{user.username}}</h1>
<h1>Email: {{user.email}}</h1>
<h1>DOB: {{user.user_DOB}}</h1>

<form>
    Username:<br>
    <input type="text" ng-model="eUser.username" ng-value="user.username"><br>
    Email:<br>
    <input type="text" ng-model="eUser.email"ng-value="user.email">
    <br>
    Password:<br>
    <input type="password" ng-model="eUser.password"><br>
    DOB:<br>
    <input type="date" class="form-control"ng-model="$parent.nUser.user_DOB" id="selector" ng-model="eUser.user_DOB"ng-value="dInput" >
    <br><br>
    <button ng-click="editAccount()">submit</button><button ng-click="delete()">Delete Account</button>
</form>
<hr>
<h1>Bookmarks</h1>
<div class="row" >
  <div class="col-3 p-3 mr-1 mb-3 border rounded" ng-repeat="b in bookmarks">
      <button type="button" class="close"ng-click="delBookmark(b.gameID)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="row">
      <div class="col-12">
        <p class="">{{b.gameID.game_Name}}</p>
      </div>
    </div>
  <hr>
  <div class="row">
    <div class="col">
      <p>Events</p>

    </div>
  </div>
</div>

</div>
