<div class="container bg-light min-vh-100">
  <div class="p-3 mt-5">
    <h1>Submit a game to the collection</h1>
    <hr>

      <form ng-submit="addRequest()" class="m-0 ">

        <div class="row">
      <div class="col col-md-6">
        <h4>Want to share a new game idea with the community? Submit it below!</h4>
        <p>When you add a new game, you are giving us permission to publish this content. New content will credit the author(s) by their chosen Username, no personal details other than that will be shared.</p>
        <hr>
          <div class="input-group mb-1">
            <div class="input-group-prepend ">
              <span class="input-group-text" id="">Name:</span>
            </div>
            <input type="text" class="form-control" ng-model="$parent.nGame.game_Name" required>
            </div>
            <div class="form-group mb-1">
              <label for="exampleFormControlTextarea1">Please add a short summary that would describe the game </label>
              <textarea class="form-control" id="summaryInput" ng-model="$parent.nGame.game_Summery" ng-change="change()" ></textarea>
            </div>
            <div class="form-group mb-1">
              <label for="gameRules">Game Rules: <i>You can use markdown!</i></label>
              <textarea class="form-control" id="ruleInput" ng-model="$parent.nGame.game_Rules"></textarea>
            </div>

      </div>
      <div class="col col-md-5">
        <div class="">
          <b>Equipment</b>
          <div class="input-group mb-3">
            <input type="text" class="form-control" ng-model="$parent.newEquipment" placeholder="Equipment Name" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="button-addon2" ng-click="addEquipment()">Add Equipment</button>
            </div>
          </div>
            <button ng-repeat="g in newGame.game_Equipment track by $index" class="btn btn-outline-primary m-1" type="button" id="button-addon2"  ng-click="delEquipment(g)">{{g}} <span class="text-danger" aria-hidden="true">&times;</span></button>

        </div>
      <div class="">
        <b>Categories</b><br>
        <label class="checkbox inline" ng-repeat="c in categories" >
            <input type="checkbox" class="ml-3" value="c"  ng-model="$parent.nGame.game_Categories[c]"> {{c}}
            </label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Is this game 18+?</label>
          </div>
          <select class="custom-select" ng-model="$parent.nGame.game_IsNSFW">
            <option value="">---Please select---</option> <!-- not selected / blank option -->
            <option value="true">Yes, only over-18s can play this game!</option>
            <option value="false">No, anyone can play this game!</option>
          </select>
        </div>
      </div>
          <div class="input-group mb-1">
              <div class="input-group-prepend ">
                <span class="input-group-text" id="">Player Count:</span>
              </div>
                <input type="text" class="form-control"ng-model="$parent.nGame.game_Player_Count" >
            </div>
            <p>We cannot guarantee your game will be accepted. But if it does be sure to check it out on the games tab. Thank you! <br> <b>That’s the Spirit community!</b></p>
          <div class="input-group mb-1">
          <input class="btn btn-success btn-block " type="submit" value="Submit Game!">
          </div>
      </div>

      </div>
              </form>

  </div>
  <h1>Pending Request</h1>
  <hr>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Summary</th>
        <th scope="col">Player Count</th>
        <th scope="col">Rules</th>
        <th scope="col">18+</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="pList.length == 0">
          <td colspan="5">It's lonely in here! Share a game idea with the community through the form above! </td>
      </tr>
      <tr ng-repeat="p in pList">
        <td>{{p.game_Name}}</td>
        <td>{{p.game_Summery}}</td>
        <td>{{p.game_Player_Count}}</td>
        <td>{{p.game_Rules}}</td>
        <td>{{p.game_IsNSFW}}</td>
      </tr>
    </tbody>
  </table>
</div>
