<div class="container">
<div class="m-1">
  <h1 class="my-4">Welcome to That's the Spirit</h1>
  <h2>This will be a website description. The text will be
filled out properly later, For now placeholder text
would work and that is good enough for me.
<br><br>
I need to focus on the design of the cards though.</h2>
</div>
<div class="input-group m-1">
  <div class="input-group-prepend d-none d-md-block">
    <label class="input-group-text" for="inputGroupSelect01">Filter By Category</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01" ng-model="$parent.selIndex" ng-change="filterGame()">
    <option value="">View All Categories</option>
    <option ng-repeat="x in categories">{{x}}</option>
  </select>
</div>
  <div class="card-columns">
    <div class="card" ng-if="myWelcome.length == 0">
      <div class="card-header">No Games Exist Here!</div>
      <div class="card-body">
        <h5 class="card-title">Try a different Category or checking your internet connection</h5>
      </div>
    </div>
    <div class="card text-dark bg-light m-1" ng-if="selIndex == '' || selIndex == undefined">
       <div class="card-header">Most recently added Games</div>
       <div class="card-body btn btn-light btn-block" ng-repeat="a in myWelcome| orderBy:'+':true | limitTo:5 "ng-Click="loadGames(a.game_Name)" >
         <h5 class=" text-left text-dark card-title">{{a.game_Name}}</h5>
       </div>
       <hr class="m-0">
       <div class="card-body">
         <h5 class=" card-title">Not seeing a game you know? Sign up and add it now!</h5>
       </div>
 </div>
    <div class="card p-3 m-1" ng-class="arr[$index % arr.length]" ng-repeat="i in myWelcome ">
      <a ng-Click="loadGames(i.game_Name)">
        <blockquote class="blockquote mb-0 card-body">
          <h5 class="card-title">{{i.game_Name}}</h5>
          <hr>
          <p>{{i.game_Summery}}</p>
          <footer class="blockquote-footer" style="color:inherit">
            <small>
             Added by <cite title="Source Title">{{i.userID.username}}</cite>
             <div class="text-right">
               Upvotes: <i>{{i.ratingCount}}</i>
             </div>
            </small>
          </footer>
      </blockquote>
    </a>
   </div>

  </div>

</div>
<div class="modal fade text-center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" >

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Game Name: {{game.game_Name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body overflow-auto">
        <div class="row">
          <div class="col">
            <h4 class="text-left">About:</h4>
            <h3>{{game.game_Summery}}</h3>
            <div class="" ng-if="user.username!=null">
              <div class="btn-group w-100" role="group" aria-label="Game Navigation Buttons">
                <button type="button" ng-if="user.username!=null" class="btn btn-danger" name="button" ng-click="like(game._id)"><i class="fas fa-heart"></i></button>
                <button class="btn btn-primary mx-1" onclick="$('#exampleModal').modal('hide');"  ng-click="loadGamePage(game.game_Name)" >View More</button>
                <button type="button" class="btn btn-success" ng-click="bookmark(game._id)"ng-if="user.username!=null"><i class="fas fa-bookmark"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <div class="w-100">
          <div class="btn-group w-100" role="group" aria-label="Game Navigation Buttons">
            <button type="button" class="btn btn-primary" ng-click="prevGame()"><span class="fas fa-chevron-left"></span></button>
            <button type="button" class="btn btn-primary mx-1" ng-click="randGame()"><span class="fas fa-random"></span></button>
            <button type="button" class="btn btn-primary" ng-click="nextGame()"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
