<div class="container">

<div class="text-center">
  <h1>Select a Game to View</h1>
  <div ng-repeat="(k,v) in myWelcome track by $index">
    <div class="row mb-4" ng-if="$index%3==0">
      <div class="col">
        <div class=" btn btn-lg btn-warning btn-block p-3"ng-Click="loadGames(myWelcome[k].game_Name)">
          <div class="text-center">
          <h3>{{myWelcome[k].game_Name}}</h3>
          </div>
          <div class="text-right">
          <p>By:  {{myWelcome[k].userID.username}}</p>
          </div>
        </div>
      </div>
      <div class="col" ng-if="myWelcome[k+1].game_Name !=null">
        <div class=" btn btn-lg btn-outline-primary btn-block p-3"ng-Click="loadGames(myWelcome[k+1].game_Name)">
          <div class="text-center">
          <h3>{{myWelcome[k+1].game_Name}}</h3>
          </div>
          <div class="text-right">
          <p>By:  {{myWelcome[k+1].userID.username}}</p>
          </div>
        </div>
      </div>
      <div class="col" ng-if="myWelcome[k+2].game_Name !=null">
        <div class=" btn btn-lg btn-outline-primary btn-block p-3"ng-Click="loadGames(myWelcome[k+2].game_Name)">
          <div class="text-center">
          <h3>{{myWelcome[k+2].game_Name}}</h3>
          </div>
          <div class="text-right">
          <p>By:  {{myWelcome[k+2].userID.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <h1>Select a Game to View</h1>
  <a ng-repeat="x in myWelcome" href="#" ng-Click="loadGames(x.game_Name)" class="row"><div class="col-3 overflow-auto">{{ x.game_Name }}</div><div class="col-3 overflow-auto">{{ x.game_Summery }}</div><div class="col-3 overflow-auto">{{ x.game_Rules }}</div><div class="col-3 overflow-auto">{{ x.userID.username }}</div> </a>
</div>


<!-- Modal -->
<div class="modal fade text-center" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="height:500px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Game Name: {{game.game_Name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <h4 class="text-left">About:</h4>
            <h3>{{game.game_Summery}}</h3>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center">
        <button ng-click="prevGame()" class="btn btn-primary" name="button">Prev</button>
        <button ng-click="randGame()" class="btn btn-primary" name="button">Random</button>
        <button ng-click="nextGame()" class="btn btn-primary" name="button">Next</button>
      </div>
    </div>
  </div>
</div>

</div>
