
<h1>User Details:</h1>
<h1>Username: {{user.username}}</h1>
<h1>Email: {{user.email}}</h1>
<h1>DOB: {{user.user_DOB}}</h1>

<form>
    Username:<br>
    <input type="text" ng-model="eUser.username"><br>
    Email:<br>
    <input type="text" ng-model="eUser.email">
    <br>
    Password:<br>
    <input type="text" ng-model="eUser.password"><br>
    DOB:<br>
    <input type="date" ng-model="eUser.user_DOB">
    <br><br>
    <button ng-click="editAccount()">submit</button>
</form>

<a href="/">Go Back</a>
<button type="button" name="button" ng-click="logout()">Sign Out</button>
<button type="button" name="button" ng-click="delete()">Delete Account</button>
