<div class="container mt-3">

  <h1>User Details:</h1>
  <h1>Username: {{user.username}}</h1>
  <h1>Email: {{user.email}}</h1>
  <h1>DOB: {{user.user_DOB}}</h1>

  <form>
      Username:<br>
      <input type="text" ng-model="eUser.username" ng-value="user.username"required><br>
      Email:<br>
      <input type="text" ng-model="eUser.email"ng-value="user.email"required>
      <br>
      Password:<br>
      <input type="text" ng-model="eUser.password"required><br>
      DOB:<br>
      <input type="date" ng-model="eUser.user_DOB"ng-value="dInput" required>
      <br><br>
      <button ng-click="editAccount()">submit</button>
  </form>
</div>
