

<div class="row bg-white p-3" >
  <h1>Dashboard</h1>
  <div class="col-12 mb-3 bg-light rounded">
    <h2>Dashboard</h2>
  </div>
  <div class="sm-column">
    <div class="card-columns">
      <div class="card text-white bg-primary" >
    <div class="card-header">CPU USAGE</div>
    <div class="card-body">
      <div id="donutchart" style="width: 100%; height: 170px;"></div>
    </div>
  </div>
  <div class="card text-white bg-warning " >
    <div class="card-header">MEMORY USAGE</div>
    <div class="card-body">
      <div id="ramchart" style="width: 100%; height: 170px;"></div>
    </div>
  </div>
  <div class="card text-white bg-success" >
    <div class="card-header">HARD DISK USAGE</div>
    <div class="card-body">
      <h5 class="card-title">Success card title</h5>
    </div>
  </div>
  <div class="card text-white bg-danger" >
    <div class="card-header">NETWORK USAGE</div>
    <div class="card-body">
      <h5 class="card-title">Danger card title</h5>
    </div>
  </div>
    </div>
  </div>
  <div class="card-columns">
    <div class="card border-light mb-3" >
  <div class="card-header">System Memory Usage</div>
  <div class="card-body text-dark">

  </div>
</div>
<div class="card border-light mb-3" >
<div class="card-header">Header</div>
<div class="card-body text-dark">
<h5 class="card-title">Dark card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
  </div>
</div>
