<div class="p-3 mt-3">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="mb-3 rounded shadow bg-white  p-3">
      <h1>This will be a panel for game stats</h1>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="mb-3 rounded shadow bg-white  p-3">
      <h1>This will be a panel for game stats</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-3 rounded shadow bg-white  p-3">

          <h1>Manage Games</h1>
          <h3>Click <u>edit</u> to make changes and to approve the game</h3>
          <table class="table table-bordered table-hover table-condensed mt-1">
            <tr style="font-weight: bold">
              <td style="width:20%;">Name</td>
              <td style="width:25%;">Summary</td>
              <td style="width:25%;">Rules</td>
              <td style="width:20%;">Player Count</td>
              <td style="width:5%;" data-toggle="tooltip" data-placement="top" title="Not Safe For Work (18+)?">NSFW</td>
              <td style="width:5%;">Tools</td>
            </tr>
            <tr>
              <td colspan="6" ng-if="games.length == 0">Looks like you are all caught up with request!</td>
            </tr>
            <tr ng-repeat-start="game in games">
              <td>
                <!-- editable gamename (text with validation) -->
                <span editable-text="game.game_Name" e-name="game_Name" e-form="rowform" >
                  {{ game.game_Name || 'empty' }}
                </span>
              </td>
              <td>
                <!-- editable status (select-local) -->
                <span editable-textarea="game.game_Summery" e-rows="7" e-cols="40" e-name="game_Summery" e-form="rowform" >
                  {{ game.game_Summery|| 'empty' | limitTo: 150  }}{{game.game_Summery.length > 150 ? '&hellip;' : ''}}
                </span>
              </td>
              <td>
                <!-- editable group (select-remote) -->
                <span editable-textarea="game.game_Rules" e-rows="7" e-cols="40" e-name="game_Rules" e-form="rowform" >
                  {{ game.game_Rules|| 'empty' | limitTo: 100  }}{{game.game_Summery.length > 100 ? '&hellip;' : ''}}
                </span>
              </td>
              <td>
                <!-- editable group (select-remote) -->
                <span editable-text="game.game_Player_Count" e-name="game_Player_Count" e-form="rowform" >
                  {{ game.game_Player_Count|| 'empty'  }}
                </span>
              </td>
              <td>
                <!-- editable group (select-remote) -->
                <span editable-checkbox="game.game_IsNSFW" e-name="game_IsNSFW" e-form="rowform" data-toggle="tooltip" data-placement="top" title="Not Safe For Work (18+)?">
                  {{ game.game_IsNSFW  && "Yes"|| 'No'  }}
                </span>
              </td>
              <td style="white-space: nowrap">
                <div class="buttons" ng-show="!rowform.$visible">
                  <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                  <button type="button" class="btn btn-danger" ng-click="removeGame(game.id)">del</button>
                </div>
              </td>
            </tr>
            <tr ng-repeat-end ng-show="rowform.$visible">
              <td colspan="2">
                <b>Equipment</b>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" ng-model="$parent.newEquip[game._id]" placeholder="Equipment Name" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="button-addon2" ng-click="addEquipment(game._id)">Add Equipment</button>
                  </div>
                </div>
                  <button ng-repeat="g in game.game_Equipment" class="btn btn-outline-primary m-1" type="button" id="button-addon2"  ng-click="delEquipment(g, game._id)">{{g}} <span class="text-danger" aria-hidden="true">&times;</span></button>
              </td>
              <td colspan="2">
                <b>Categories</b><br>
                <label class="checkbox inline" ng-repeat="c in categories" >
                    <input type="checkbox" class="ml-3" value="c" ng-checked="game.game_Categories[c]"  ng-model="game.game_Categories[c]"> {{c}}
                    </label>
                </td>
              <td colspan="2"style="white-space: nowrap"><form editable-form name="rowform" onaftersave="editGame($data,game)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == game">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-block">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel() " class="btn btn-danger btn-block">
                  cancel
                </button>
              </form></td>
            </tr>
          </table>


    </div>
  </div>
  </div>
</div>
