<div class="container mt-3">
  <h1>Add an Account</h1>
  <form ng-submit="addUser()" class="mb-3">
    <div class="form-group">
      <label for="exampleInputEmail1" >Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  ng-model="newUser.email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input type="text" class="form-control" id="exampleInputPassword1"  ng-model="newUser.username">
    </div>
    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" class="form-control" id="pass"  ng-model="newUser.password">
    </div>
    <div class="form-group">
      <label for="pass">DOB</label>
      <input type="date" class="form-control" id="DOB" ng-model="newUser.user_DOB">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1"  ng-model="newUser.isAdmin">
      <label class="form-check-label" for="exampleCheck1">Is this user an Admin?</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h1>Manage Users</h1>
  <div class="row" ng-repeat="u in userList">
    <div class="col">
      {{u.username}}
    </div>
    <div class="col">
      {{u.email}}
    </div>
    <div class="col">
      <button type="button" name="button" class="btn btn-danger" ng-click="delUser(u._id)">DELETE</button>
    </div>
  </div>
</div>
