/*Desktop and landscape tablet styling*/
@media only screen and (min-width: 1026px){

    body{
      font-family: 'Roboto', sans-serif;
      overflow-x: hidden;
    }
    .card-header{
      font-size: 22px;
    }
    a{
      cursor: pointer;
    }
    input::-webkit-calendar-picker-indicator {
      display: none;
    }
    .carousel-control-next{
      background-color:white;color: blue; right:-115px; opacity:.8;
    }
    .carousel-control-next:hover{
       opacity:1;
    }
    .carousel-control-prev{
      background-color:white; color: blue;left:-115px; opacity: 0.8;
    }
    .carousel-control-prev:hover{
       opacity:1;
    }
    .modal-content{
      height: 50vh;
    }

    .CodeMirror, .CodeMirror-scroll {
    	min-height: 150px;
    }
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidebar a, .sidebar h2,.sidebar-footer a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .sidebar h2{
      color: black;
    }
    .sidebar-header{
      background-color: lightgray;
    }

    .sidebar a:hover ,.sidebar-footer a:hover{
      color: #f1f1f1;
      background-color: lightgray;
    }
    .sidebar-footer{
      width: inherit;
      position: absolute;
      bottom: 10px;
      overflow-x: hidden;
    }

    .sidebar-header .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }

    .main{
      /*Set Margin top to Navbar height*/
      margin-top: 30px;
      transition: margin-left .5s;
      padding: 16px;
    }
    .nav-menu{
      z-index: 3;
    }
    .border-top{
      border-style: none!important;
    }
    .navbar{
      transition: margin-left .5s;
    }



    .parallax {
      /* The image used */
      background-image: url("logo.svg");
      /* Set a specific height */
      height: 0;
      padding-top: 16.51%;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      transition: margin-left .5s;
    }

}
