/*Smartphone Portrait*/
@media only screen and (max-width: 479px){
  html, body {
    overflow-x: hidden;
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    padding-top: 60px;
    top: 60;
    left: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidebar a, .sidebar h2,.sidebar-footer a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebar h2{
    color: black;
  }
  .sidebar-header{
    background-color: lightgray;
  }

  .sidebar a:hover ,.sidebar-footer a:hover{
    color: #f1f1f1;
    background-color: lightgray;
  }
  .sidebar-footer{
    width: inherit;
    position: absolute;
    bottom: 10px;
    overflow-x: hidden;
  }

  .sidebar-header .closebtn {
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .main {
    /*Set Margin top to Navbar height*/
    margin-top: 60px;
    transition: margin-left .5s;
    padding: 16px;
  }
  .nav-menu{
    z-index: 3;
  }
  .border-right{
    border-style: none!important;
  }

}
/*Smartphone Landscape*/
@media only screen and (min-width: 480px) and (max-width: 767px){

}
