<table class="w3-table w3-striped" >
  <tr>
    <th>Game Name:</th><th>Game Summary:</th><th>Game Rules:</th><th>Creator:</th>
  </tr>
  <tr ng-repeat="x in myWelcome">
    <!--Summary is written as summery everywhere sorry-->
    <td>{{ x.game_Name }}</td><td>{{ x.game_Summery }}</td><td>{{ x.game_Rules }}</td><td>{{ x.userID.username }}</td>
  </tr>
</table>

New Game:
<form class="" ng-submit="addGame()" method="post">
  Name: <input type="text" ng-model="nGame.name" placeholder="Game Name"><br>
  Summary: <textarea ng-model="nGame.summary" placeholder="Game Summary"></textarea><br>
  Rules: <textarea ng-model="nGame.rules" placeholder="Game Rules"></textarea><br>
  Player Count: <input type="text" ng-model="nGame.pCount" placeholder="Game Player Count"><br>
  18+: <input type="checkbox" ng-model="nGame.nsfw"><br>
  <input type="submit" value="Submit">
</form>
