<table class="w3-table w3-striped" >
  <tr>
    <th>Game Name:</th><th>Game Summery:</th><th>Game Rules:</th><th>Creator:</th>
  </tr>
  <tr ng-repeat="x in myWelcome">
    <td>{{ x.game_Name }}</td><td>{{ x.game_Summery }}</td><td>{{ x.game_Rules }}</td><td>{{ x.userID.username }}</td>
  </tr>
</table>
<form>
    Username:<br>
    <input type="text" ng-model="user.username"><br>
    Password:<br>
    <input type="text" ng-model="user.password">
    <br><br>
    <button ng-click="login()">submit</button>
</form>
<form>
    Username:<br>
    <input type="text" ng-model="nUser.username"><br>
    Email:<br>
    <input type="text" ng-model="nUser.email">
    <br>
    Password:<br>
    <input type="text" ng-model="nUser.password"><br>
    DOB:<br>
    <input type="date" ng-model="nUser.user_DOB">
    <br><br>
    <button ng-click="createAccount()">submit</button>
</form>
