<table class="table table-hover"
<thead>
  <tr>
    <th>Game Name:</th><th>Game Summery:</th><th>Game Rules:</th><th>Creator:</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="x in myWelcome">
    <td>{{ x.game_Name }}</td><td>{{ x.game_Summery }}</td><td>{{ x.game_Rules }}</td><td>{{ x.userID.username }}</td>
  </tr>
  </tbody>
</table>

<form ng-submit="createAccount()">
    Username:<br>
    <input type="text" ng-model="nUser.username" required><br>
    Email:<br>
    <input type="email" ng-model="nUser.email"required>
    <br>
    Password:<br>
    <input type="text" ng-model="nUser.password"required><br>
    DOB:<br>
    <div class="input-group">
      <div class="input-group-prepend ml-1">
        <span class="input-group-text" id="">Day</span>
      </div>
      <input type="number" class="form-control" min="1" max="31" ng-model="user_DOB.day" required>
      <div class="input-group-prepend ml-1">
        <span class="input-group-text" id="">Month</span>
      </div>
      <input type="number" class="form-control"min="1" max="12"ng-model="user_DOB.month" required>
      <div class="input-group-prepend ml-1">
        <span class="input-group-text" id="">Year</span>
      </div>
      <input type="number" class="form-control"min="1901" max="2020"ng-model="user_DOB.year" required>
    </div>
    <br><br>
    <input type="submit" value="submit">
</form>
